.container-carousel{
    display: flex;
    flex-direction: column;
    min-width: 180px;
    max-width: 100%;
    margin: 0;
    overflow: hidden;
    height: 300px;

}
.card{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 300px;
    object-fit: cover;
    align-items: center;

}
.img-card-carousel{
    width: 100%;
    height: 100%;
}

.slick-prev:before,
.slick-next:before{
    display: flex;
    color: #000; /* Substitua #000 pela cor desejada */
    font-size: 2.5rem;
    justify-content: center;
    align-items:center ;
    
}
.slick-arrow{
    cursor: pointer;
    position: absolute;
    z-index: 1;
    background-color: none;
    
}
.slick-next{
    right: 40px;
    background-color: none;
    
}
.slick-prev{
 left: 40px;
}
