.Loading{
    
    font-size: 2rem;
    margin: 250px auto  ;
    animation: spin 1s infinite linear;
    color: #F76212;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}